{% extends "misc/base.html" %}
{% block title %}
    Редактировать профиль
{% endblock %}
{% block content %}
   {% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 mb-3 mt-1">
        <div class="card">
          <div class="card-header">
              Редактировать профиль
          </div> <!--"card-header" -->
          <div class="card-body">

            <form action="." method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in user_form %}
                <div class="form-group row"
                     aria-required={{ field.field.required }}>
                <label for="{{ field.id_for_label }}"
                       class="col-md-4 col-form-label text-md-right">
                  {{ field.label }}{% if field.required %}
                    <span class="required">*
                                </span>{% endif %}</label>
                <div class="col-md-7">
                  {{ field|addclass:"form-control" }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help"
                           class="form-text text-muted">
                      {{ field.help_text|safe }}</small>
                  {% endif %}
                </div> <!-- "col-md-11"-->
              </div> <!-- "form-group row"-->
              {% endfor %}
             {% for field in profile_form %}
                <div class="form-group row"
                     aria-required={{ field.field.required }}>
                <label for="{{ field.id_for_label }}"
                       class="col-md-4 col-form-label text-md-right">
                  {{ field.label }}{% if field.required %}
                    <span class="required">*
                                </span>{% endif %}</label>
                <div class="col-md-7">
                  {{ field|addclass:"form-control" }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help"
                           class="form-text text-muted">
                      {{ field.help_text|safe }}</small>
                  {% endif %}
                </div> <!-- "col-md-11"-->
              </div> <!-- "form-group row"-->
              {% endfor %}

              <div class="col-md-5 offset-md-9">
                <p><input type="submit" class="btn btn-primary" value="Сохранить">
                </p>

              </div> <!-- "col-md-5 offset-md-11"-->
            </form>
          </div> <!-- "card-body"-->
        </div> <!-- "card"-->
      </div> <!-- col-md-8 mb-3 mt-1-->
    </div> <!-- row-->
  </main>
{% endblock %}